# Install pre-commit hooks via
# pre-commit install

exclude: >
    (?x)^(
      \.vscode/settings\.json|
      package-lock\.json|
    )$

# Fix the node version to avoid a GLIBC error
# ref: https://stackoverflow.com/questions/71939099/bitbucket-pipeline-error-installing-pre-commit-ts-lint/71940852#71940852
default_language_version:
    node: 16.14.2

repos:

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    - id: check-toml
    - id: check-json
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
    - id: ruff
      args: ["--fix", "--show-fixes"]
    - id: ruff-format

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: 787fb9f542b140ba0b2aced38e6a3e68021647a3 # frozen: v3.5.3
    hooks:
      - id: prettier
        types_or: [scss, javascript]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    - id: codespell
      exclude: >
        (?x)^(
            docs/reference/kitchen-sink/.*|
            src/sphinx_book_theme/assets/.*|
            tests/.*|
            pyproject\.toml
        )$
