/*********************************************
* Whole page *
*********************************************/

.container-fluid {
    max-width: 1450px;
}
/*********************************************
* Main body *
*********************************************/

main.bd-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

main a.headerlink {
    opacity: 0;
    margin-left: .2em;
    color: #005b81;
}

main a.headerlink:hover {
    background-color: transparent;
    color: #005b81;
}

main h1:hover a.headerlink,
main h2:hover a.headerlink,
main h3:hover a.headerlink,
main h4:hover a.headerlink,
main h5:hover a.headerlink {
    opacity: 1;
}

body {
    padding-top: 0px !important;
}

div.section {
    padding-right: 1em;
}

body img {
    max-width: 100%;
}

/* Right sidebar CSS, largely copied from https://edwardtufte.github.io/tufte-css/ */
/* 992px is the L breakpoint in bootstrap */
@media (min-width: 992px) {
    .tag_popout, div.sidebar {
        float: right;
        clear: right;
        width: 33%;
        margin-right: -40%;
        margin-top: 0;
        margin-bottom: 0;
        padding-right: 1em;
        font-size: 0.9rem;
        line-height: 1.3;
        vertical-align: baseline;
        position: relative;
    }
}

@media (max-width: 992px) {
    .tag_popout, div.sidebar {
        border-left: 3px solid #c3c3c3;
        padding-left: 5%;
    }
}


/*********************************************
* Top Bar *
*********************************************/
.topbar {
    padding-top: 1em;
    padding-bottom: .5em;
    margin-bottom: 1em;
    background-color: white;
}

#navbar-toggler {
    position: relative;
    margin-right: 1em;
    margin-left: .5em;
}

#navbar-toggler i {
    transition: opacity .3s, transform .3s;
    position: absolute;
    top: 16%;
    left: 0;
    display: block;
    font-size: 1.3em;
}

#navbar-toggler i.fa-bars {
    opacity: 0;
    transform: rotate(180deg) scale(.5);
}

#navbar-toggler i.fa-arrow-left {
    opacity: 1;
}

#navbar-toggler.collapsed i.fa-bars {
    opacity: 1;
    transform: rotate(0) scale(1);
}

#navbar-toggler.collapsed i.fa-arrow-left {
    opacity: 0;
    transform: rotate(-180deg) scale(.5);
}

a.download-buttons i {
    margin-right: .5em;
}


/*********************************************
* Table of Contents *
*********************************************/

.bd-toc {
    top: 0px !important;
    padding-top: 0px !important;
    z-index: 999;
}

.bd-toc .tocsection {
    padding-top: 1.5rem;
}

.bd-toc .tocsection, .bd-toc nav {
    background-color: white;
}

/*********************************************
* Left Nav Bar *
*********************************************/
.bd-sidebar {
    top: 0px !important;
    padding-top: 2em;
    height: 100vh !important;
    overflow-y: auto;
    opacity: 0.6;
}

.bd-sidebar:hover {
    opacity: 1;
}

a.navbar-brand {
    width: 100%;
}

.navbar-brand img {
    max-height: 100px !important;
    margin: 0 auto;
    display: block;
    height: auto !important;
}

nav.bd-links {
    margin-left: 0px;
}

nav.bd-links ul.nav > li > a {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
}

nav.bd-links ul.nav ul {
    padding-left: 1rem !important;
    padding-right: 0rem !important;
}

ul.nav li {
    width: 100%;
}

ul.sidenav_l1 > li {
    font-size: 1.2em
}

ul.sidenav_l2  {
    font-size: .8em
}

/* Adding .collapse:not( to keep it displayed when visible so transitions work */
#site-navigation {
    transition: flex .2s ease 0s, opacity 0.2s ease-in-out;;
}

/* Hidden without display: none */
#site-navigation.collapse:not(.show) {
    flex: 0 0 0px;
    padding-left: 0px;
    padding-right: 0px;
    border: none;
    display: block;
}

h1.site-logo {
    margin: .5em 0 0 0;
    font-size: 1.1em;
    color: black;
    text-align: center;
}

/*********************************************
* Footer *
*********************************************/
.prev-next-bottom {
    height: 3em;
}