/*********************************************
* Whole page *
*********************************************/

.container-fluid {
    max-width: 1450px;
}

body {
    padding-top: 0px !important;
    img {
        max-width: 100%;
    }
}

/*********************************************
* Main body *
*********************************************/

main {
    .bd-content {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        overflow-y: hidden !important;
    }

    a.headerlink {
        opacity: 0;
        margin-left: .2em;
        color: #005b81;

        &:hover {
            background-color: transparent;
            color: #005b81;
        }
    }

    h1, h2, h3, h4, h5 {
        &:hover a.headerlink {
            opacity: 1;
        }
    }

    div.section {
        padding-right: 1em;
    }

    // Math equations
    span.eqno {
        float: right;
        margin: 1em 0em;
        font-size: 1.2em;
    }
}

:target::before {
    display: block;
    content: " ";
    margin-top: -71px;
    height: 71px;
    visibility: hidden;
    pointer-events: none;
}

// Right sidebar CSS, largely copied from https://edwardtufte.github.io/tufte-css/
// 992px is the L breakpoint in bootstrap
@media (min-width: 992px) {
    .tag_popout, div.sidebar {
        float: right;
        clear: right;
        width: 33%;
        margin-right: -40%;
        margin-top: 0;
        margin-bottom: 0;
        padding-right: 1em;
        font-size: 0.9rem;
        line-height: 1.3;
        vertical-align: baseline;
        position: relative;
    }
}

@media (max-width: 992px) {
    .tag_popout, div.sidebar {
        border-left: 3px solid #c3c3c3;
        padding-left: 5%;
    }
}

blockquote {
    padding: .5em 1.5em;

    .pull-quote, .epigraph, .highlights {
        font-size:1.25em;
    }

    div > p {
        margin-bottom: .5em;
    }

    div > p + p.attribution {
        font-style: normal;
        font-size: .9em;
        text-align: right;
        color: #6c757d;
        padding-right: 2em;
    }
}


/*********************************************
* Top Bar *
*********************************************/
.topbar {
    padding-top: .75em;
    padding-bottom: .75em;
    margin-bottom: 1em;
    background-color: white;

    button.topbarbtn {
        margin: 0 .2em;
        background-color: #5a5a5a;
    }
}


a.download-buttons i {
    margin-right: .5em;
}

button.topbarbtn img {
    height: 1.15em;
    padding-right: 6px;
    margin-left: -5px;
}



#navbar-toggler {
    position: relative;
    margin-right: 1em;
    margin-left: .5em;

    i {
        transition: opacity .3s, transform .3s;
        position: absolute;
        top: 16%;
        left: 0;
        display: block;
        font-size: 1.3em;
    }

    i.fa-bars {
        opacity: 0;
        transform: rotate(180deg) scale(.5);
    }

    i.fa-arrow-left, i.fa-arrow-up {
        opacity: 1;
    }

    &.collapsed {
        i.fa-bars {
            opacity: 1;
            transform: rotate(0) scale(1);
        }

        i.fa-arrow-left, i.fa-arrow-up {
            opacity: 0;
            transform: rotate(-180deg) scale(.5);
        }
    }
}


@media (max-width: 768px) {
    #navbar-toggler {
        i.fa-arrow-up {
            display: inherit;
        }

        i.fa-arrow-left {
            display: none;
        }
    }
}

@media (min-width: 768px) {
    #navbar-toggler {
        i.fa-arrow-up {
            display: none;
        }

        i.fa-arrow-left {
            display: inherit;
        }
    }
}


div.top {
    display: none;
}

@media (max-width: 768px) {
    div.top {
        height: 3em;
        display: block;
    }

    main button.navbar-toggler {
        display: none;
    }
}

/*********************************************
* Table of Contents *
*********************************************/

.bd-toc {
    top: 0px !important;
    padding-top: 0px !important;
    z-index: 999;

    .tocsection {
        padding-top: 1.5rem;

        .bd-toc nav {
            background-color: white;
        }
    }
}

/*********************************************
* Left Nav Bar *
*********************************************/
.bd-sidebar  {
    top: 0px !important;
    overflow-y: auto;
    opacity: 0.6;
    scrollbar-width: thin;
    height: 100vh !important;
    transition: flex .2s ease 0s, height .35s ease, opacity 0.2s ease;

    &:hover {
        opacity: 1;
    }

    h1.site-logo {
        margin: .5em 0 0 0;
        font-size: 1.1em;
        color: black;
        text-align: center;
    }

    p.sidebar_footer {
        text-align: center;
        font-size: .9em;
        padding-top: .5em;
    }

    &.collapse:not(.show) {
        display: none
    }

    &.collapsing {
        border: none;
        overflow: hidden;
        position: relative;
        padding-top: 0;
    }
}

@media (max-width: 768px) {
    .bd-sidebar {
        height: 60vh !important;
        border-bottom: 3px solid #c3c3c3;

        &.collapsing {
            height: 0px !important;
        }
    }
}

@media (min-width: 768px) {
    #site-navigation.collapsing {
        flex: 0 0 0px;
        padding: 0;
    }
}


// Scrollbar width
::-webkit-scrollbar {
  width: 5px;
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}

div.navbar-brand-box {
    padding-top: 2em;

    a.navbar-brand {
        width: 100%;

        img {
            max-height: 100px !important;
            margin: 0 auto;
            display: block;
            height: auto !important;
        }
    }
}

nav.bd-links {
    margin-left: 0px;

    ul.nav li {
        width: 100%;
    }

    ul.sidenav_l1 > li {
        font-size: 1.2em
    }

    ul.sidenav_l2  {
        font-size: .8em
    }

    ul.nav > li > a {
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }

    ul.nav ul {
        padding-left: 1rem !important;
        padding-right: 0rem !important;
    }
}

/*********************************************
* Footer *
*********************************************/
.prev-next-bottom {
    height: 3em;
}
