/*********************************************
* Variables *
*********************************************/
// Breakpoints from Bootstrap: https://getbootstrap.com/docs/4.1/layout/overview/#responsive-breakpoints
$breakpoint-xxl: 1500px;  // Custom one
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;

/*********************************************
* Whole page *
*********************************************/

$topbar-height: 3.5em;

body {
    padding-top: 0px !important;
    img {
        max-width: 100%;
    }
}

/*********************************************
* Main body *
*********************************************/

// Custom XXL breakpoint
@media (min-width: $breakpoint-xxl) {
    .col-xxl-7 {
        flex: 0 0 58.33333% !important;
        max-width: 58.33333% !important;
        position: relative !important;
        width: 100% !important;
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
}

// If the sidebar is collapsed, our main content should expand fully
div.bd-sidebar.collapse:not(.show) + main.bd-content {
    @media (max-width: $breakpoint-xxl) {
        flex: 0 0 100%;
        max-width: 100%;    
    }
}

main {
    &.bd-content {
        padding-top: $topbar-height !important;
        padding-bottom: 0px !important;
    }

    a.headerlink {
        opacity: 0;
        margin-left: .2em;
        color: #005b81;

        &:hover {
            background-color: transparent;
            color: #005b81;
        }
    }

    h1, h2, h3, h4, h5 {
        &:hover a.headerlink {
            opacity: 1;
        }
    }

    div.section {
        padding-right: 1em;
        overflow: visible !important;  // So that sidebars don't cause a scroll
    }

    // Math equations
    span.eqno {
        float: right;
        margin: 1em 0em;
        font-size: 1.2em;
    }

    // List styles to avoid too much whitespace
    div.section ul, div.section ol {
        p {
            margin-bottom: 0;
        }   
    }
}

// Cell-specific controls
div.cell {

    div.cell_output {
        padding-right: 0;
    }

    &.tag_output_scroll {
        div.cell_output {
            max-height: 24em;
            overflow-y: auto;
        }
    }
}


// Right sidebar CSS, largely copied from https://edwardtufte.github.io/tufte-css/
// 992px is the L breakpoint in bootstrap
@media (min-width: $breakpoint-md) {
    div.cell.tag_popout, div.cell.tag_sidebar, div.sidebar {
        float: right;
        clear: right;
        width: 33% !important;
        margin-right: -40% !important;
        margin-top: 0;
        margin-bottom: 0;
        padding-right: 1em !important;
        font-size: 0.9rem;
        line-height: 1.3;
        vertical-align: baseline;
        position: relative;
    }

    // Make cell outputs take up more space if they're in the sidebar
    div.cell.tag_sidebar .cell_output {
        padding-left: 0;
        margin-bottom: 0;
        
    }
}

@media (max-width: $breakpoint-md) {
    div.cell.tag_popout, div.cell.tag_sidebar, div.sidebar {
        border-left: 3px solid #c3c3c3;
        margin: 1em;
        padding: .2em 1.5em;
    }
}

div.cell.tag_full_width, div.full-width {
    width: 134% !important;
}

blockquote {
    margin: 1em;
    padding: .2em 1.5em;
    border-left: 4px solid #ccc;

    &.pull-quote, &.epigraph, &.highlights {
        font-size:1.25em;
        border-left: none;
    }

    div > p {
        margin-bottom: .5em;
    }

    div > p + p.attribution {
        font-style: normal;
        font-size: .9em;
        text-align: right;
        color: #6c757d;
        padding-right: 2em;
    }
}

// Footnotes

dl.footnote {
    dt.label {
        float: left;
    }

    dd p {
        padding-left: 1.5em;
    }
}

/*********************************************
* Top Bar *
*********************************************/
.topbar {
    margin: 0em auto 1em auto !important;
    padding-top: .75em;
    padding-bottom: .75em;
    background-color: white;
    height: 4em;
    transition: left .2s;

    > div {
        height: 2.5em;
        top: 0px;
    }

    .topbar-main {
        button.navbar-toggler, .download-buttons-dropdown {
            float: left;
            height: 100%;
        }
    
        button.topbarbtn {
            margin: 0 .2em;
            background-color: #5a5a5a;
        }
    }
}

.bd-topbar-whitespace {
    padding-right: none;
    @media (max-width: 768px) {
        display: none;
    }
}

// Download buttons
div.download-buttons-dropdown {
    div.download-buttons {
        display: none;
        position: absolute;
        max-width: 100px;

        button {
            min-width: 100px !important;
            border: 1px white solid !important;
            border-radius: 0 !important;
        }
    }

    &:hover div.download-buttons {
        display: block;
    }
}

a.download-buttons i {
    margin-right: .5em;
}

button.topbarbtn img {
    height: 1.15em;
    padding-right: 6px;
    margin-left: -5px;
}

#navbar-toggler {
    position: relative;
    margin-right: 1em;
    margin-left: .5em;

    i {
        transition: opacity .3s, transform .3s;
        position: absolute;
        top: 16%;
        left: 0;
        display: block;
        font-size: 1.3em;
    }

    i.fa-bars {
        opacity: 0;
        transform: rotate(180deg) scale(.5);
    }

    i.fa-arrow-left, i.fa-arrow-up {
        opacity: 1;
    }

    &.collapsed {
        i.fa-bars {
            opacity: 1;
            transform: rotate(0) scale(1);
        }

        i.fa-arrow-left, i.fa-arrow-up {
            opacity: 0;
            transform: rotate(-180deg) scale(.5);
        }
    }
}


@media (max-width: $breakpoint-md) {
    #navbar-toggler {
        i.fa-arrow-up {
            display: inherit;
        }

        i.fa-arrow-left {
            display: none;
        }
    }
}

@media (min-width: $breakpoint-md) {
    #navbar-toggler {
        i.fa-arrow-up {
            display: none;
        }

        i.fa-arrow-left {
            display: inherit;
        }
    }
}

/*********************************************
* Table of Contents *
*********************************************/

.bd-toc {
    padding: 0px !important;
    overflow-y: hidden !important;
    background: white;
    right: 0;
    z-index: 999;
    transition: height .35s ease;

    // By default the nav is hidden unless a few conditions are met
    nav {
        opacity: 0;
        transition: opacity 0.2s ease; 
    }

    // On really wide screens, we always show the nav
    @media (min-width: $breakpoint-xxl) {
        height: auto !important;
        nav {
            opacity: 1;
        }
    }

    // On hover or w/ a show calss, we show the TOC
    &:hover, &.show {
        height: auto !important;
        nav {
            opacity: 1;
        }
    }

    .tocsection {
        padding: .5rem 0 .5rem 1rem !important
    }

    .toc-entry a {
        padding: .125rem 1rem !important;
    }
}

/*********************************************
* Left Nav Bar *
*********************************************/
.bd-sidebar  {
    top: 0px !important;
    overflow-y: auto;
    scrollbar-width: thin;
    height: 100vh !important;

    @media (min-width: $breakpoint-md) {
        opacity: 0.6;
    }
    
    &:hover {
        opacity: 1;
    }

    h1.site-logo {
        margin: .5em 0 0 0;
        font-size: 1.1em;
        color: black;
        text-align: center;
    }

    p.sidebar_footer {
        text-align: center;
        font-size: .9em;
        padding-top: .5em;
    }

    &.collapsing {
        border: none;
        overflow: hidden;
        position: relative;
        padding-top: 0;
    }

    // Captions
    li + li.sidebar-special {
        margin-top: 1em;
    }

    p.sidebar-caption {
        margin-bottom: 0;
        font-size: 1.2em;
    }

}

.site-navigation, .site-navigation.collapsing {
    transition: flex .2s ease 0s, height .35s ease, opacity 0.2s ease;
}

#site-navigation {
    @media (max-width: $breakpoint-md) {
        position: fixed;
        margin-top: $topbar-height;
        z-index: 2000;
        background: white;
    }
}

@media (max-width: $breakpoint-md) {
    div#main-content {
        margin-top: $topbar-height;
    }

    .bd-sidebar {
        height: 60vh !important;
        border-bottom: 3px solid #c3c3c3;

        &.collapsing {
            height: 0px !important;
        }
    }
}

@media (min-width: $breakpoint-md) {
    .bd-sidebar {
        z-index: 2000 !important;
    }

    .site-navigation.collapsing {
        flex: 0 0 0px;
        padding: 0;
    }
}


// Scrollbar width
::-webkit-scrollbar {
  width: 5px;
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}

div.navbar-brand-box {
    padding-top: 2em;

    a.navbar-brand {
        width: 100%;

        img {
            max-height: 100px !important;
            margin: 0 auto;
            display: block;
            height: auto !important;
        }
    }
}

nav.bd-links {
    margin-left: 0px;
    max-height: none !important;

    ul.nav li {
        width: 100%;
    }

    ul.sidenav_l1 > li {
        font-size: 1.2em
    }

    ul.sidenav_l2  {
        font-size: .8em
    }

    ul.nav > li > a {
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }

    ul.nav ul {
        padding-left: 1rem !important;
        padding-right: 0rem !important;
    }
}

/*********************************************
* Footer *
*********************************************/
.prev-next-bottom {
    height: 3em;
}


/*********************************************
* Print-specific CSS *
*********************************************/
@media print {
    .tag_popout, div.sidebar {
        float: right;
        clear: right;
        width: 50%;
        margin-right: -56%;
        margin-top: 0;
        margin-bottom: 0;
        padding-right: 1em;
        font-size: 0.9rem;
        line-height: 1.3;
        vertical-align: baseline;
        position: relative;
        
        border-left: none;
        padding-left: 0;
    }

    .bd-content {
        // Widen the main div since we won't have a TOC
        div#main-content > div {
            flex: 0 0 75%;
            max-width: 75%;
        }
    }

    h1, h2, h3, h4 {
        break-after: avoid;
    }

    table {
        break-inside: avoid;
    }

    pre {
        word-wrap: break-word;
    }

    a.copybtn, a.headerlink {
        display: none;
    }

    .tag-fullwidth {
        width: 145%;
        clear: both;
    }

    div.toggle-hidden {
        visibility: inherit;
        opacity: 1;
        height: auto;
    }
    
    button.toggle-button {
        display: none;
    }

    blockquote.epigraph {
        border: none;
    }

    // For some reason this fixes the containers from taking up the whole screen
    div.container {
        min-width: 50% !important;
    }

    div.bd-sidebar, div.prev-next-bottom {
        display: none;
    }

    div.topbar {
        height: 0;
        padding: 0;
        position: inherit;  // So that TOC isn't printed on each page
        
        div.topbar-main {
            opacity: 0;
        }

        // Grow and show the TOC on print
        .bd-toc {
            flex: 0 0 25%;
            max-width: 25%;
            height: auto !important;
            // All 1st and 2nd items should be displayed
            nav, nav > ul.nav, nav > ul.nav > li > ul.nav {
                opacity: 1;
                display: block;
            }
            
            // No fancy styling for nav links
            .nav-link.active {
                font-weight: inherit;
                color: inherit;
                background-color: inherit;
                border-left: inherit;
            }
        }
    }
}