/*********************************************
* Variables *
*********************************************/
/*********************************************
* Whole page *
*********************************************/
.container-fluid {
  max-width: 1450px; }

body {
  padding-top: 0px !important; }
  body img {
    max-width: 100%; }

/*********************************************
* Main body *
*********************************************/
main.bd-content {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  overflow-y: hidden !important; }

main a.headerlink {
  opacity: 0;
  margin-left: .2em;
  color: #005b81; }
  main a.headerlink:hover {
    background-color: transparent;
    color: #005b81; }

main h1:hover a.headerlink, main h2:hover a.headerlink, main h3:hover a.headerlink, main h4:hover a.headerlink, main h5:hover a.headerlink {
  opacity: 1; }

main div.section {
  padding-right: 1em; }

main span.eqno {
  float: right;
  margin: 1em 0em;
  font-size: 1.2em; }

main div.section ul p, main div.section ol p {
  margin-bottom: 0; }

:target::before {
  display: block;
  content: " ";
  margin-top: -71px;
  height: 71px;
  visibility: hidden;
  pointer-events: none; }

div.cell div.cell_output {
  padding-right: 0; }

div.cell.tag_output_scroll div.cell_output {
  max-height: 24em;
  overflow-y: auto; }

@media (min-width: 992px) {
  div.cell.tag_popout, div.cell.tag_sidebar, div.sidebar {
    float: right;
    clear: right;
    width: 33% !important;
    margin-right: -40% !important;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 1em !important;
    font-size: 0.9rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative; }
  div.cell.tag_sidebar .cell_output {
    padding-left: 0;
    margin-bottom: 0; } }

@media (max-width: 992px) {
  div.cell.tag_popout, div.cell.tag_sidebar, div.sidebar {
    border-left: 3px solid #c3c3c3;
    margin: 1em;
    padding: .2em 1.5em; } }

div.cell.tag_full_width, div.full-width {
  width: 134% !important; }

blockquote {
  margin: 1em;
  padding: .2em 1.5em;
  border-left: 4px solid #ccc; }
  blockquote.pull-quote, blockquote.epigraph, blockquote.highlights {
    font-size: 1.25em;
    border-left: none; }
  blockquote div > p {
    margin-bottom: .5em; }
  blockquote div > p + p.attribution {
    font-style: normal;
    font-size: .9em;
    text-align: right;
    color: #6c757d;
    padding-right: 2em; }

dl.footnote dt.label {
  float: left; }

dl.footnote dd p {
  padding-left: 1.5em; }

/*********************************************
* Top Bar *
*********************************************/
.topbar {
  padding-top: .75em;
  padding-bottom: .75em;
  margin-bottom: 1em;
  background-color: white; }
  .topbar button.topbarbtn {
    margin: 0 .2em;
    background-color: #5a5a5a; }

div.download-buttons-dropdown div.download-buttons {
  display: none;
  position: absolute;
  max-width: 100px; }
  div.download-buttons-dropdown div.download-buttons button {
    min-width: 100px !important;
    border: 1px white solid !important;
    border-radius: 0 !important; }

div.download-buttons-dropdown:hover div.download-buttons {
  display: block; }

a.download-buttons i {
  margin-right: .5em; }

button.topbarbtn img {
  height: 1.15em;
  padding-right: 6px;
  margin-left: -5px; }

#navbar-toggler {
  position: relative;
  margin-right: 1em;
  margin-left: .5em; }
  #navbar-toggler i {
    transition: opacity .3s, transform .3s;
    position: absolute;
    top: 16%;
    left: 0;
    display: block;
    font-size: 1.3em; }
  #navbar-toggler i.fa-bars {
    opacity: 0;
    transform: rotate(180deg) scale(0.5); }
  #navbar-toggler i.fa-arrow-left, #navbar-toggler i.fa-arrow-up {
    opacity: 1; }
  #navbar-toggler.collapsed i.fa-bars {
    opacity: 1;
    transform: rotate(0) scale(1); }
  #navbar-toggler.collapsed i.fa-arrow-left, #navbar-toggler.collapsed i.fa-arrow-up {
    opacity: 0;
    transform: rotate(-180deg) scale(0.5); }

@media (max-width: 768px) {
  #navbar-toggler i.fa-arrow-up {
    display: inherit; }
  #navbar-toggler i.fa-arrow-left {
    display: none; } }

@media (min-width: 768px) {
  #navbar-toggler i.fa-arrow-up {
    display: none; }
  #navbar-toggler i.fa-arrow-left {
    display: inherit; } }

div.top {
  display: none; }

@media (max-width: 768px) {
  div.top {
    height: 3em;
    display: block; }
  main button.navbar-toggler {
    display: none; } }

/*********************************************
* Table of Contents *
*********************************************/
.bd-toc {
  top: 0px !important;
  padding-top: 0px !important;
  z-index: 999; }
  .bd-toc .tocsection {
    padding-top: 1.5rem; }
    .bd-toc .tocsection .bd-toc nav {
      background-color: white; }

/*********************************************
* Left Nav Bar *
*********************************************/
.bd-sidebar {
  top: 0px !important;
  overflow-y: auto;
  opacity: 0.6;
  scrollbar-width: thin;
  height: 100vh !important;
  transition: flex .2s ease 0s, height .35s ease, opacity 0.2s ease; }
  .bd-sidebar:hover {
    opacity: 1; }
  .bd-sidebar h1.site-logo {
    margin: .5em 0 0 0;
    font-size: 1.1em;
    color: black;
    text-align: center; }
  .bd-sidebar p.sidebar_footer {
    text-align: center;
    font-size: .9em;
    padding-top: .5em; }
  .bd-sidebar.collapse:not(.show) {
    display: none; }
  .bd-sidebar.collapsing {
    border: none;
    overflow: hidden;
    position: relative;
    padding-top: 0; }
  .bd-sidebar p.sidebar-caption {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.1em; }

@media (max-width: 768px) {
  .bd-sidebar {
    height: 60vh !important;
    border-bottom: 3px solid #c3c3c3; }
    .bd-sidebar.collapsing {
      height: 0px !important; } }

@media (min-width: 768px) {
  #site-navigation.collapsing {
    flex: 0 0 0px;
    padding: 0; } }

::-webkit-scrollbar {
  width: 5px;
  background: #f1f1f1; }

::-webkit-scrollbar-thumb {
  background: #c1c1c1; }

div.navbar-brand-box {
  padding-top: 2em; }
  div.navbar-brand-box a.navbar-brand {
    width: 100%; }
    div.navbar-brand-box a.navbar-brand img {
      max-height: 100px !important;
      margin: 0 auto;
      display: block;
      height: auto !important; }

nav.bd-links {
  margin-left: 0px;
  max-height: none !important; }
  nav.bd-links ul.nav li {
    width: 100%; }
  nav.bd-links ul.sidenav_l1 > li {
    font-size: 1.2em; }
  nav.bd-links ul.sidenav_l2 {
    font-size: .8em; }
  nav.bd-links ul.nav > li > a {
    padding-left: 0rem !important;
    padding-right: 0rem !important; }
  nav.bd-links ul.nav ul {
    padding-left: 1rem !important;
    padding-right: 0rem !important; }

/*********************************************
* Footer *
*********************************************/
.prev-next-bottom {
  height: 3em; }

/*********************************************
* Print-specific CSS *
*********************************************/
@media print {
  .tag_popout, div.sidebar {
    float: right;
    clear: right;
    width: 50%;
    margin-right: -56%;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 1em;
    font-size: 0.9rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
    border-left: none;
    padding-left: 0; }
  div#main-content {
    margin-top: 5em;
    width: 66% !important;
    max-width: 66% !important; }
  h1, h2, h3, h4 {
    break-after: avoid; }
  table {
    break-inside: avoid; }
  pre {
    word-wrap: break-word; }
  a.copybtn, a.headerlink {
    display: none; }
  .tag-fullwidth {
    width: 145%;
    clear: both; }
  div.toggle-hidden {
    visibility: inherit;
    opacity: 1;
    height: auto; }
  button.toggle-button {
    display: none; }
  blockquote.epigraph {
    border: none; }
  div.container {
    min-width: 50% !important; }
  div.bd-sidebar, div.prev-next-bottom, div.topbar, div.bd-toc {
    display: none; } }
