/*********************************************
* Variables *
*********************************************/
/*********************************************
* Whole page *
*********************************************/
body {
  padding-top: 0px !important; }
  body img {
    max-width: 100%; }

code {
  font-size: 87.5% !important; }

/*********************************************
* Main body *
*********************************************/
@media (min-width: 1500px) {
  .col-xxl-7 {
    flex: 0 0 58.33333% !important;
    max-width: 58.33333% !important;
    position: relative !important;
    width: 100% !important;
    padding-right: 15px !important;
    padding-left: 15px !important; } }

@media (max-width: 1500px) {
  div.bd-sidebar.collapse:not(.show) + main.bd-content {
    flex: 0 0 100%;
    max-width: 100%; } }

main.bd-content {
  padding-top: 3.5em !important;
  padding-bottom: 0px !important; }
  main.bd-content.single-page {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto; }
    main.bd-content.single-page div#main-content div.section:first-of-type > h1:first-of-type {
      border-bottom: 1px solid #130654;
      padding-bottom: .2em;
      font-size: 3em; }

main a.headerlink {
  opacity: 0;
  margin-left: .2em;
  color: #005b81; }
  main a.headerlink:hover {
    background-color: transparent;
    color: #005b81; }

main h1:hover a.headerlink, main h2:hover a.headerlink, main h3:hover a.headerlink, main h4:hover a.headerlink, main h5:hover a.headerlink {
  opacity: 1; }

main div.section {
  padding-right: 1em;
  overflow: visible !important; }

main span.eqno {
  float: right;
  margin: 1em 0em;
  font-size: 1.2em; }

main div.section ul p, main div.section ol p {
  margin-bottom: 0; }

main div.figure {
  width: 100%;
  margin-bottom: 1em;
  text-align: center; }
  main div.figure.align-left {
    text-align: left; }
    main div.figure.align-left p.caption {
      margin-left: 0; }
  main div.figure.align-right {
    text-align: right; }
    main div.figure.align-right p.caption {
      margin-right: 0; }
  main div.figure p.caption {
    margin: .5em 10%; }
  main div.figure.sidebar p.caption, main div.figure.sidebar-caption p.caption {
    margin: .5em 0; }
  main div.figure.sidebar-caption p.caption {
    text-align: left; }
  main div.figure span.caption-number {
    font-weight: bold; }
  main div.figure span {
    font-size: .9em; }

main div.alert p.admonition-title {
  margin-bottom: .2em;
  font-size: 1.1em; }
  main div.alert p.admonition-title::after {
    font-family: "FontAwesome";
    margin-left: 0.5em;
    content: "\f06a"; }

main div.alert.alert-warning p.admonition-title::after {
  content: "\f071";
  color: red; }

div.cell div.cell_output {
  padding-right: 0; }

div.cell.tag_output_scroll div.cell_output {
  max-height: 24em;
  overflow-y: auto; }

@media (min-width: 768px) {
  div.cell.tag_popout, div.cell.tag_sidebar, div.sidebar, div.sidebar-caption p.caption {
    float: right;
    clear: right;
    width: 33% !important;
    margin-right: -40% !important;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 1em !important;
    font-size: 0.9rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative; }
  div.cell.tag_sidebar .cell_output {
    padding-left: 0; } }

@media (max-width: 768px) {
  div.cell.tag_popout, div.cell.tag_sidebar, div.sidebar {
    border-left: 3px solid #c3c3c3;
    margin: 1em;
    padding: .2em 1.5em; } }

@media (min-width: 768px) {
  div.cell.tag_full-width, div.cell.tag_full_width, div.full_width, div.full-width {
    width: 134% !important; } }

blockquote {
  margin: 1em;
  padding: .2em 1.5em;
  border-left: 4px solid #ccc; }
  blockquote.pull-quote, blockquote.epigraph, blockquote.highlights {
    font-size: 1.25em;
    border-left: none; }
  blockquote div > p {
    margin-bottom: .5em; }
  blockquote div > p + p.attribution {
    font-style: normal;
    font-size: .9em;
    text-align: right;
    color: #6c757d;
    padding-right: 2em; }

dl.footnote dt.label {
  float: left; }

dl.footnote dd p {
  padding-left: 1.5em; }

/*********************************************
* Top Bar *
*********************************************/
.topbar {
  margin: 0em auto 1em auto !important;
  padding-top: .75em;
  padding-bottom: .75em;
  background-color: white;
  height: 4em;
  transition: left .2s; }
  .topbar > div {
    height: 2.5em;
    top: 0px; }
  .topbar .topbar-main button.navbar-toggler, .topbar .topbar-main .dropdown-buttons-trigger {
    float: left;
    height: 100%; }
  .topbar .topbar-main button.topbarbtn {
    margin: 0 .2em;
    background-color: #5a5a5a; }

.bd-topbar-whitespace {
  padding-right: none; }
  @media (max-width: 768px) {
    .bd-topbar-whitespace {
      display: none; } }
div.dropdown-buttons-trigger span.dropdown-trigger-text {
  margin-left: 0.4em; }
  @media (max-width: 768px) {
    div.dropdown-buttons-trigger span.dropdown-trigger-text {
      display: none; } }
div.dropdown-buttons-trigger div.dropdown-buttons {
  display: none;
  position: absolute;
  max-width: 120px; }
  div.dropdown-buttons-trigger div.dropdown-buttons button {
    min-width: 120px !important;
    border: 1px white solid !important; }

div.dropdown-buttons-trigger:hover div.dropdown-buttons {
  display: block; }

a.dropdown-buttons i {
  margin-right: .5em; }

button.topbarbtn img {
  height: 1.15em;
  padding-right: 6px;
  margin-left: -5px; }

#navbar-toggler {
  position: relative;
  margin-right: 1em;
  margin-left: .5em; }
  #navbar-toggler i {
    transition: opacity .3s, transform .3s;
    position: absolute;
    top: 16%;
    left: 0;
    display: block;
    font-size: 1.3em; }
  #navbar-toggler i.fa-bars {
    opacity: 0;
    transform: rotate(180deg) scale(0.5); }
  #navbar-toggler i.fa-arrow-left, #navbar-toggler i.fa-arrow-up {
    opacity: 1; }
  #navbar-toggler.collapsed i.fa-bars {
    opacity: 1;
    transform: rotate(0) scale(1); }
  #navbar-toggler.collapsed i.fa-arrow-left, #navbar-toggler.collapsed i.fa-arrow-up {
    opacity: 0;
    transform: rotate(-180deg) scale(0.5); }

@media (max-width: 768px) {
  #navbar-toggler i.fa-arrow-up {
    display: inherit; }
  #navbar-toggler i.fa-arrow-left {
    display: none; } }

@media (min-width: 768px) {
  #navbar-toggler i.fa-arrow-up {
    display: none; }
  #navbar-toggler i.fa-arrow-left {
    display: inherit; } }

/*********************************************
* Table of Contents *
*********************************************/
.bd-toc {
  padding: 0px !important;
  overflow-y: hidden !important;
  background: white;
  right: 0;
  z-index: 999;
  transition: height .35s ease; }
  .bd-toc nav {
    opacity: 0;
    transition: opacity 0.2s ease; }
  @media (min-width: 1500px) {
    .bd-toc {
      height: auto !important; }
      .bd-toc nav {
        opacity: 1; } }
  .bd-toc:hover, .bd-toc.show {
    height: auto !important; }
    .bd-toc:hover nav, .bd-toc.show nav {
      opacity: 1; }
  .bd-toc .tocsection {
    padding: .5rem 0 .5rem 1rem !important; }
  .bd-toc .toc-entry a {
    padding: .125rem 1rem !important; }

/*********************************************
* Left Nav Bar *
*********************************************/
.bd-sidebar {
  top: 0px !important;
  overflow-y: auto;
  height: 100vh !important;
  scrollbar-width: thin; }
  .bd-sidebar::-webkit-scrollbar {
    width: 5px; }
  .bd-sidebar::-webkit-scrollbar {
    background: #f1f1f1; }
  .bd-sidebar::-webkit-scrollbar-thumb {
    background: #c1c1c1; }
  @media (min-width: 768px) {
    .bd-sidebar {
      opacity: 0.6; } }
  @media (min-width: 992px) {
    .bd-sidebar:not(:hover) {
      -ms-overflow-style: none; }
      .bd-sidebar:not(:hover)::-webkit-scrollbar {
        background: #FFFFFF; }
      .bd-sidebar:not(:hover)::-webkit-scrollbar-thumb {
        background: #FFFFFF; } }
  .bd-sidebar:hover {
    opacity: 1; }
  .bd-sidebar h1.site-logo {
    margin: .5em 0 0 0;
    font-size: 1.1em;
    color: black;
    text-align: center; }
  .bd-sidebar p.sidebar_footer {
    text-align: center;
    font-size: .9em;
    padding-top: .5em; }
  .bd-sidebar.collapsing {
    border: none;
    overflow: hidden;
    position: relative;
    padding-top: 0; }
  .bd-sidebar li + li.sidebar-special {
    margin-top: 1em; }
  .bd-sidebar p.sidebar-caption {
    margin-bottom: 0;
    font-size: 1.2em; }
  .bd-sidebar li > a > i {
    font-size: .8em;
    margin-left: 0.3em; }

.site-navigation, .site-navigation.collapsing {
  transition: flex .2s ease 0s, height .35s ease, opacity 0.2s ease; }

@media (max-width: 768px) {
  #site-navigation {
    position: fixed;
    margin-top: 3.5em;
    z-index: 2000;
    background: white; } }

@media (max-width: 768px) {
  .bd-sidebar {
    height: 60vh !important;
    border-bottom: 3px solid #c3c3c3; }
    .bd-sidebar.collapsing {
      height: 0px !important; } }

@media (min-width: 768px) {
  .bd-sidebar {
    z-index: 2000 !important; }
  .site-navigation.collapsing {
    flex: 0 0 0px;
    padding: 0; } }

div.navbar-brand-box {
  padding-top: 2em; }
  div.navbar-brand-box a.navbar-brand {
    width: 100%; }
    div.navbar-brand-box a.navbar-brand img {
      max-height: 100px !important;
      margin: 0 auto;
      display: block;
      height: auto !important; }

nav.bd-links {
  margin-left: 0px;
  max-height: none !important; }
  nav.bd-links ul.nav li {
    width: 100%; }
  nav.bd-links ul.sidenav_l1 > li {
    font-size: 1.2em; }
  nav.bd-links ul.sidenav_l2 {
    font-size: .8em; }
  nav.bd-links ul.nav > li > a {
    padding-left: 0rem !important;
    padding-right: 0rem !important; }
  nav.bd-links ul.nav ul {
    padding-left: 1rem !important;
    padding-right: 0rem !important; }

/*********************************************
* Footer *
*********************************************/
.prev-next-bottom {
  height: 3em; }

/*********************************************
* Print-specific CSS *
*********************************************/
@media print {
  .tag_popout, div.sidebar {
    float: right;
    clear: right;
    width: 50%;
    margin-right: -56%;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 1em;
    font-size: 0.9rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
    border-left: none;
    padding-left: 0; }
  .bd-content div#main-content > div {
    flex: 0 0 75%;
    max-width: 75%; }
  h1, h2, h3, h4 {
    break-after: avoid; }
  table {
    break-inside: avoid; }
  pre {
    word-wrap: break-word; }
  a.copybtn, a.headerlink {
    display: none; }
  .tag-fullwidth {
    width: 145%;
    clear: both; }
  div.toggle-hidden {
    visibility: inherit;
    opacity: 1;
    height: auto; }
  button.toggle-button {
    display: none; }
  blockquote.epigraph {
    border: none; }
  div.container {
    min-width: 50% !important; }
  div.bd-sidebar, div.prev-next-bottom {
    display: none; }
  div.topbar {
    height: 0;
    padding: 0;
    position: inherit; }
    div.topbar div.topbar-main {
      opacity: 0; }
    div.topbar .bd-toc {
      flex: 0 0 25%;
      max-width: 25%;
      height: auto !important; }
      div.topbar .bd-toc nav, div.topbar .bd-toc nav > ul.nav, div.topbar .bd-toc nav > ul.nav > li > ul.nav {
        opacity: 1;
        display: block; }
      div.topbar .bd-toc .nav-link.active {
        font-weight: inherit;
        color: inherit;
        background-color: inherit;
        border-left: inherit; } }

.thebelab-cell {
  position: relative;
  z-index: 999;
  border: 0 !important;
  border-radius: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 8px !important; }

.thebelab-button {
  z-index: 999;
  display: inline-block;
  padding: 0.35em 1.2em;
  margin: 0px 1px;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  transition: all 0.2s;
  background-color: #dddddd;
  border: 0.05em solid white;
  color: #000000; }

.thebelab-button:hover {
  border: 0.05em solid black;
  background-color: #fcfcfc; }

div.jp-OutputArea-output {
  padding: 5px; }
