.admonition,
div.admonition {
  // Soften admonition styling from the PyData Theme
  border-radius: $box-border-radius;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.05),
    0 0 0.0625rem rgba(0, 0, 0, 0.1);
  padding: 0 0.6rem 0.8rem;
  border-color: rgba(var(--pst-color-admonition-default), 1);
  > .admonition-title {
    background-color: rgba(var(--pst-color-admonition-default), 0.1);
    &::after {
      color: rgba(var(--pst-color-admonition-default), 1);
    }
  }
  &.note {
    border-color: rgba(var(--pst-color-admonition-note), 1);
    > .admonition-title {
      background-color: rgba(var(--pst-color-admonition-note), 0.1);
      &::after {
        color: rgba(var(--pst-color-admonition-note), 1);
      }
    }
  }
  &.hint {
    border-color: rgba(var(--pst-color-admonition-hint), 1);
    > .admonition-title {
      background-color: rgba(var(--pst-color-admonition-hint), 0.1);
      &:before {
        background-color: rgba(var(--pst-color-admonition-hint), 0.1);
      }
      &:after {
        color: rgba(var(--pst-color-admonition-hint), 1);
      }
    }
  }
  &.tip {
    border-color: rgba(var(--pst-color-admonition-tip), 1);
    > .admonition-title {
      background-color: rgba(var(--pst-color-admonition-tip), 0.1);
      &:before {
        background-color: rgba(var(--pst-color-admonition-tip), 0.1);
      }
      &:after {
        color: rgba(var(--pst-color-admonition-tip), 1);
      }
    }
  }
  &.caution {
    border-color: rgba(var(--pst-color-admonition-caution), 1);
    > .admonition-title {
      background-color: rgba(var(--pst-color-admonition-caution), 0.1);
      &:before {
        background-color: rgba(var(--pst-color-admonition-caution), 0.1);
      }
      &:after {
        color: rgba(var(--pst-color-admonition-caution), 1);
      }
    }
  }
  &.attention {
    border-color: rgba(var(--pst-color-admonition-attention), 1);
    > .admonition-title {
      background-color: rgba(var(--pst-color-admonition-attention), 0.1);
      &:before {
        background-color: rgba(var(--pst-color-admonition-attention), 0.1);
      }
      &:after {
        color: rgba(var(--pst-color-admonition-attention), 1);
      }
    }
  }
  &.danger {
    border-color: rgba(var(--pst-color-admonition-danger), 1);
    > .admonition-title {
      background-color: rgba(var(--pst-color-admonition-danger), 0.1);
      &:before {
        background-color: rgba(var(--pst-color-admonition-danger), 0.1);
      }
      &:after {
        color: rgba(var(--pst-color-admonition-danger), 1);
      }
    }
  }
  &.error {
    border-color: rgba(var(--pst-color-admonition-error), 1);
    > .admonition-title {
      background-color: rgba(var(--pst-color-admonition-error), 0.1);
      &:before {
        background-color: rgba(var(--pst-color-admonition-error), 0.1);
      }
      &:after {
        color: rgba(var(--pst-color-admonition-error), 1);
      }
    }
  }
  // Admonition seealso styling
  &.seealso {
    border-color: #28a745;
    > .admonition-title {
      background-color: rgba(40, 167, 70, 0.1);

      &:after {
        color: #28a745;
        content: "\f064";
      }
    }
  }
  // Admonition warning styling
  &.warning {
    border-color: rgba(var(--pst-color-admonition-warning), 1);
    > .admonition-title {
      background-color: rgba(var(--pst-color-admonition-warning), 0.1);
      &:before {
        background-color: rgba(var(--pst-color-admonition-warning), 0.1);
      }
      &:after {
        color: rgba(var(--pst-color-admonition-warning), 1);
      }
    }
  }
  // Admonition important styling
  &.important {
    border-color: rgba(var(--pst-color-admonition-important), 1);
    > .admonition-title {
      background-color: rgba(var(--pst-color-admonition-important), 0.1);
      &:before {
        background-color: rgba(var(--pst-color-admonition-tip), 0.1);
      }
      &:after {
        color: rgba(var(--pst-color-admonition-important), 1);
      }
    }
  }
}
