// Math and equations
div.math {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  .headerlink {
    font-size: 1em;
    padding: 0 0.2em;
    margin-left: 0;

    &:hover {
      opacity: 1;
    }
  }

  &:hover .headerlink {
    opacity: 0.5;
  }
}

// Equation labels to the right
span.eqno {
  font-size: 1.2em;
  margin-left: 0.5em;
}

.MathJax {
  overflow-x: auto;
  margin-right: auto !important; // HACK: to over-ride MathJax default behavior
  margin-left: auto !important;
  @include scrollbar-style();

  // HACK: Prevents vertical scroll-bar due to tiny padding bug
  // The div should be high enough to fit all math anyway, so no vertical scroll needed
  overflow-y: hidden;
}

// Compensate for the extra bottom margin of a preceding paragraph
p ~ div.math {
  margin-top: -1.15rem;
}
