// Sidebar-specific CSS
div.sidebar,
aside.sidebar {
  &:not(.margin) {
    background-color: unset;
    padding: 1em;
    border-radius: $box-border-radius;
    border-color: $grey--medium;

    // On wide screens, the sidebar straddles margin and content
    @media (min-width: $breakpoint-lg) {
      width: 65%;
      margin: 0 -35% 0 $content-margin-gutter;
    }
  }
}
