// Table of Contents
div.tableofcontents-wrapper p.caption {
  font-weight: 600 !important;
  margin-bottom: 0em !important;
}

div.contents {
  padding: 1em;
  p.topic-title {
      font-size: 1.5em;
      padding: .5em 0 0 1em;
  }
}
