/*********************************************
* SASS Mixins
*********************************************/
// Scrollbar styles to be re-used in a few spots
@mixin scrollbar-style() {
  &::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }

  &::-webkit-scrollbar {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 1em;

    &:hover {
      background: #a0a0a0;
    }
  }

  // Hide the scrollbar until hover on wide screens
  @media (min-width: $breakpoint-lg) {
    &:not(:hover) {
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        background: #ffffff;
      }

      &::-webkit-scrollbar-thumb {
        background: #ffffff;
      }
    }
  }
}
