/*********************************************
* Variables *
*********************************************/
// Breakpoints from Bootstrap: https://getbootstrap.com/docs/4.1/layout/overview/#responsive-breakpoints
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;

// Colors
$grey--dark: #5a5a5a;
$grey--medium: #aaa;
$grey--light: #ccc;
$non-content-grey: $grey--dark;

// Z-index stacking (from Bootstrap)
// ref: https://getbootstrap.com/docs/5.0/layout/z-index/
$zindex-sticky: 1020;
$zindex-offcanvas: 1100; // We increase this to be over the tooltips

// Spacing
$header-article-height: 3em;
$leftbar-width-mobile: 75%;
$leftbar-width-wide: 275px;
$toc-width-mobile: 75%;
// Main content, to leave room for the margin
$content-max-width: 70%;

// Consistent styling for page elements
$box-border-radius: 0.4em;

$animation-time: 0.25s;

$border-thin: 1px solid rgba(0, 0, 0, 0.1);

// Overrides for pydata sphinx theme.
// See https://github.com/pydata/pydata-sphinx-theme/blob/master/pydata_sphinx_theme/static/css/theme.css
:root[data-theme="light"] {
  // Over-ride the pydata theme so that readers can use their system base
  --pst-font-size-base: none;

  --pst-color-primary: rgb(87, 154, 202);
  --pst-color-link: rgb(0, 113, 188);
  --pst-color-border: rgb(238, 238, 238);

  // Font sizes
  --sbt-font-size-regular: 100%;
  --sbt-font-size-large: 112.5%;
  --sbt-font-size-small-1: 87.5%;
  --sbt-font-size-small-2: 70%;

  // Variables for this theme
  --sbt-sidebar-font-size: var(--sbt-font-size-small-1);
  --sbt-header-article-font-size: var(--sbt-font-size-small-1);
  --sbt-prevnext-font-size: var(--sbt-font-size-small-1);
  --sbt-footer-font-size: var(--sbt-font-size-small-1);

  // Search variables
  --sbt-color-search-highlighted: rgb(243, 119, 38);
  --sbt-color-search-icon: rgb(164, 166, 167);

  // Announcement
  --sbt-color-announcement: rgb(97, 97, 97);
}
