/*********************************************
* Variables *
*********************************************/
// Breakpoints from Bootstrap: https://getbootstrap.com/docs/4.1/layout/overview/#responsive-breakpoints
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;

// Z-index stacking (from Bootstrap)
// ref: https://getbootstrap.com/docs/5.0/layout/z-index/
$zindex-sticky: 1020;
$zindex-offcanvas: 1100; // We increase this to be over the tooltips

// A few semantic z-indices
$zindex-bottom: 1;
$zindex-middle: 2;
$zindex-top: 3;

// Spacing
$header-article-height: 3rem;
$sidebar-primary-width-widescreen: 275px;

// Main content, to leave room for the margin
$content-max-width: 75%;

// Consistent styling for page elements
$box-border-radius: 0.4em;

$animation-time: 0.25s;

// Font sizes
$sbt-font-size-small-1: 87.5%;

/**
 * Variables that aren't impacted by light/dark
 */
html {
  // Over-ride the pydata theme so that readers can use their system base
  --pst-font-size-base: none;
  --pst-header-height: 0px;
}

// Overrides for pydata sphinx theme.
// See https://github.com/pydata/pydata-sphinx-theme/blob/master/pydata_sphinx_theme/static/css/theme.css
html[data-theme="light"] {
  --pst-color-primary: rgb(87, 154, 202);
  // Announcement
  --sbt-color-announcement: rgb(97, 97, 97);
}

html[data-theme="dark"] {
  --pst-color-primary: rgb(87, 154, 202);
}
