.header-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .header-item {
    padding: 0.4em;
    &:empty {
      display: none;
    }

    &.announcement {
      background-color: #616161;
      color: white;
      text-align: center;
    }
  }
}
