/*********************************************
* Main content layout *
*********************************************/

.bd-content {
  overflow: unset; // needed for postion:sticky header-article
  padding: 0rem;
  .bd-article {
    padding-right: 2rem;
  }
}
