/*********************************************
* Main content layout *
*********************************************/
.bd-main {
  .bd-content {
    padding: 0rem;
    justify-content: revert;
    .bd-article-container {
      position: relative; // needed for postion:sticky header-article
      overflow-x: unset; // needed for postion:sticky header-article
      padding: 0%;
      max-width: $content-max-width;
      min-width: 0; // to prevent overflow in mobile website for flex containers
    }
    .bd-article {
      padding-right: 2rem;
      @media (max-width: $breakpoint-md) {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }
}
