/*********************************************
* Footer - article *
*********************************************/

// Previous and next area at the bottom
footer.footer-article {
  border-top: none;
  padding: none;

  .prev-next-area {
    font-size: var(--sbt-prevnext-font-size);
    // On wide screens, make space for the right margin
    @media (min-width: $breakpoint-md) {
      max-width: $content-max-width;
    }
  }
}
