.header-item {
  width: 100%;
  text-align: center;

  &:empty {
    display: none;
  }

  &.announcement {
    background-color: #616161;
    color: white;
    padding: 0.4em;
  }

  &.header {
    border-bottom: $border-thin;
  }
}
