/**
 * A few different header CSS rules
 */

$header-default-height-wide: 4rem;
$header-default-height-narrow: 3rem;

@mixin max-height-header() {
  // Fix max height so our header items don't spill over
  max-height: $header-default-height-wide;
  @media (max-width: $breakpoint-md) {
    max-height: $header-default-height-narrow;
  }
}

// The parent div that will expand / contract
.header {
  display: flex;
  border-bottom: $border-thin;

  // On narrow screens, cap the height unless you click the hamburger menu
  @include max-height-header;
  min-height: $header-default-height-wide;
  @media (max-width: $breakpoint-md) {
    min-height: $header-default-height-narrow;
    transition: max-height $animation-time ease-out;
    overflow-y: hidden;
  }

  // Navigation links
  a,
  div.dropdown button {
    color: var(--theme-header-button-color);

    &:hover {
      color: var(--theme-header-button-color-hover);
      text-decoration: none;
    }
  }

  // Button component styling (won't apply to dropdowns)
  button.btn-outline-primary {
    color: rgba(var(--pst-color-primary), 1);
    border-color: rgba(var(--pst-color-primary), 1);

    &:hover {
      color: white;
      background-color: rgba(var(--pst-color-primary), 1);
    }
  }
}

// Header content should take up the whole remaining horizontal space
.header__content {
  display: flex;
  flex-grow: 1;
  max-width: 1400px; // Bootstrap max-width for xl container, to match article
  margin: 0 auto;
}

.header__content,
.header__brand,
.header__start,
.header__end {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.75rem;

  // On narrow screens, the header items show flow vertically and snap to left
  @media (max-width: $breakpoint-md) {
    flex-direction: column;
  }
}

// Ensure the header items don't touch the screen edge
.header__start {
  padding-left: 1rem;
}

@media (max-width: $breakpoint-md) {
  // Only apply on narrow screens since we want it centered on sidebar on wide
  .header__brand,
  .header__end {
    padding-left: 1rem;
    padding-right: 0;
  }
}

// Only show up on narrow screens, and push to the far right
.headerbtn.header-toggle-button {
  display: none;
  @media (max-width: $breakpoint-md) {
    display: block;
    margin-top: 0.7em; // HACK: to make this vertically-centered w/o using flexbox
    margin-left: auto;
  }
}

input#__header {
  // Inputs never display, only used to control behavior
  display: none;

  // On narrow screens, checking the button opens the header
  &:checked ~ div.header {
    @media (max-width: $breakpoint-md) {
      max-height: 20em;
    }
  }
}

// Header content contains the components
.header__content {
  flex-grow: 1;
}

// This is the logo or a bold docs title
.header__brand {
  font-size: 1.5em;

  // Wide screens: header start has same width as the sidebar + center over logo
  @media (min-width: $breakpoint-md) {
    width: $leftbar-width-wide;
    justify-content: center;
  }
}

.header__end {
  @media (max-width: $breakpoint-md) {
    padding-bottom: 1rem;
  }

  @media (min-width: $breakpoint-md) {
    // Header end is right-justified
    margin-left: auto;
    padding-right: 1.5rem;
  }
}

ul#navbar-icon-links {
  flex-direction: row;
  gap: 0.75rem;
}

.header-content-item {
  display: flex;
  align-items: center;

  // Spacing is horizontal on wide, vertical on narrow
  // Items should snap to left on mobile
  @media (max-width: $breakpoint-md) {
    align-items: start;
  }

  img {
    padding: 0.4rem 0em;
    @include max-height-header;
  }

  .dropdown-menu {
    z-index: $zindex-sticky + 1;
  }
}
