/*********************************************
* Top Bar *
*********************************************/
/**
 * Mixin:
 * Header behavior on mobile
 */
@mixin header-height-mobile {
  @media (max-width: $breakpoint-md) {
    height: $header-article-height + 0.75rem;
  }
}

/**
 * Sidebar toggle over-rides for PST
 */
// Primary toggle is always visible
label.sidebar-toggle.primary-toggle {
  @media (min-width: $breakpoint-md) {
    display: inline-block;
  }
}

// Secondary toggle mimics behavior of "persistent header" div of PST
label.sidebar-toggle.secondary-toggle {
  @media (min-width: $breakpoint-lg) {
    display: none;
  }
}

// Wrapper container
.bd-header-article {
  height: $header-article-height; // Fix the height so the TOC doesn't grow it
  background-color: var(--pst-color-background);
  transition: left 0.2s;
  font-size: 0.9em;
  position: sticky;
  top: 0;
  padding: 0 1rem;
  z-index: 1018;

  @include header-height-mobile;

  .scrolled & {
    box-shadow: 0 6px 6px -6px var(--pst-color-shadow);
  }

  // Inner container with content
  .header-article-main {
    height: $header-article-height;
    @include header-height-mobile;
    padding: 0 !important; // Override bootstrap default

    .header-article__left,
    .header-article__right {
      display: flex;
      align-items: center;
    }

    .header-article__right {
      margin-left: auto;
    }
  }
}

/**
 * Buttons in the header
 */
div.header-article-main {
  .btn {
    // Basic button size
    font-size: 1.3rem;
    color: var(--pst-color-text-muted);
    border: none;
    padding: 0 0.75rem;

    // Hover / active behavior
    &.show,
    &:hover {
      color: var(--pst-color-text-base);
      border: none;
      & + .dropdown-menu {
        display: block;
      }
    }
    &:focus {
      box-shadow: none;
    }

    &.dropdown-toggle {
      // Hide the bootstrap caret
      &:after {
        display: none;
      }
    }
  }

  // The menu that is normally hidden until you hover
  .dropdown-menu {
    // Positioning and layout of dropdown items to be standardized
    margin-top: 0px;
    transform: translateX(-75%);
    &:hover {
      display: block;
    }
    .dropdown-item {
      display: inline-flex;
      align-items: center;
      padding-left: 0.5em;

      // To prevent link underline from showing up
      &:hover {
        text-decoration: none;
        background-color: initial;
      }

      // Slightly smaller font for everything
      font-size: 1em;

      // Image icons should be the same height as <i> icons
      span img {
        height: 1em;
      }

      span.btn__icon-container {
        width: 1.7em;
        align-items: center;
        display: inline-flex;
        justify-content: center;
      }
    }
  }
}
