/*********************************************
* Left Nav Bar *
*********************************************/

.bd-sidebar-primary {
  // So that it sticks to the top of the page instead of the header height
  top: 0;
  max-height: 100vh;

  transition: margin-left $animation-time ease 0s,
    opacity $animation-time ease 0s, visibility $animation-time ease 0s;

  // To prevent a phantom gap when there's no header
  gap: 0;

  .bd-search input {
    // Slightly reduce padding because it's a bit too big on this theme
    padding-left: 2rem;
  }

  // Remove the top border since there's often no header items above
  .sidebar-primary-items__start {
    border-top: none;
  }

  // Tighter spacing in the sidebar than the PST
  .sidebar-start-items__item,
  .sidebar-end-items__item {
    padding: 0.25rem 0;
  }

  // On wide screens we have a smaller sidebar width than PST
  @media (min-width: $breakpoint-lg) {
    flex-basis: $sidebar-primary-width-widescreen;
  }
}

// Default visibility for left sidebar is the reverse of what it is on mobile.
// It is shown by default, and hidden with a click.
// Mobile behavior is defined in the pydata sphinx theme
@media (min-width: $breakpoint-lg) {
  input#__primary:checked ~ .bd-container .bd-sidebar-primary {
    margin-left: -$sidebar-primary-width-widescreen;
    visibility: hidden;
    opacity: 0;
  }
}
