/**************************************************
* Rules that are specific to toggling the sidebar *
**************************************************/
input.sidebar-toggle {
  display: none;
  position: absolute;
}

input#__navigation {
  // On wide screens, checking will hide everything
  @media (min-width: $breakpoint-md) {
    &:checked {
      & ~ .container-xl #site-navigation {
        visibility: hidden;
        opacity: 0;
        margin-left: -$leftbar-width-wide;
      }

      // When we hide the sidebar on widescreen, add some padding to content
      & ~ .container-xl #main-content {
        padding-left: 4rem;
        padding-right: 4rem;
      }
    }
  }

  // On narrow screens, *unchecking* will hide everything, so it's hidden by default
  @media (max-width: $breakpoint-md) {
    &:not(:checked) ~ .container-xl #site-navigation {
      visibility: hidden;
      opacity: 0;
      margin-left: -$leftbar-width-mobile;
    }
  }
}

input#__page-toc {
  // On narrow screens, it's hidden by default
  @media (max-width: $breakpoint-md) {
    &:not(:checked) ~ .container-xl .bd-toc {
      visibility: hidden;
      opacity: 0;
      margin-right: -$leftbar-width-mobile;
    }
  }
}

// **** Utility functions ****
// Label at the top of the page
label.overlay {
  &.overlay-navbar {
    background-color: rgba(0, 0, 0, 0.54);
  }
  height: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: width 0ms, height 0ms, opacity $animation-time ease-out;
  width: 0;
}

// On narrow screens, we use this overlay to close the sidebar
@media (max-width: $breakpoint-md) {
  input:checked + label.overlay {
    &.overlay-navbar {
      z-index: $zindex-offcanvas - 1; // This puts it just below the primary sidebar
    }

    &.overlay-pagetoc {
      z-index: $zindex-sticky - 1; // This puts it just below the header
    }
    height: 100%;
    opacity: 1;
    width: 100%;
  }
}
