/**
 * ReadTheDocs pop-up menu over-rides.
 * We nest everything under `.bd-sidebar` so that we use more selective
 * selectors than what RTD CSS uses.
 */
.bd-sidebar {
  // Parent container for everything else
  div#rtd-footer-container {
    position: sticky;
    bottom: 0;
  }
  // Extra selective selector to over-ride RTD
  .rst-versions.rst-badge {
    position: unset;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    font-size: 0.9em;

    &.shift-up .rst-current-version {
      background-color: black;
    }

    // This is the top part of the dropdown, lists the current versions
    .rst-current-version {
      display: flex;
      align-items: center;
      border-top-left-radius: 0.5em;
      border-top-right-radius: 0.5em;
      gap: 0.2rem;
      height: 2rem;
      background-color: $non-content-grey;
      transition: background-color 0.2s ease-out;
      color: white;

      &:hover {
        background-color: black;
        cursor: pointer;
      }

      .fa-book {
        float: unset;
        margin-right: auto;

        &:after {
          content: "ReadTheDocs";
          font-family: sans-serif;
          font-weight: bold;
          margin-left: 0.2em;
        }
      }
    }

    .rst-other-versions {
      dt {
        color: #ccc;
      }
    }
  }
}
