/*********************************************
* Buttons, mostly for the headers            *
*********************************************/
/**
 * Basic button style
 */
.headerbtn {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  color: $non-content-grey;
  cursor: pointer;
  border: none;
  font-size: 1.4em;
  padding: 0.1rem 0.5rem; // Horizontal padding since labels have none
  margin: 0 0.1rem;

  span {
    display: flex;
    align-items: center;
  }

  // Icons and image icons
  img,
  i {
    margin: auto;
    width: 1em;
    text-align: center;
  }
}

/**
 * Dropdown groups of buttons
 */
.menu-dropdown__trigger:hover + .menu-dropdown__content,
.menu-dropdown__content:hover {
  visibility: visible;
  opacity: 1;
}

.menu-dropdown__content {
  // Hide by default, we'll show on hover
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-75%);
  transition: opacity 0.2s ease-out;

  // Spacing and position
  width: 13em;
  border-radius: $box-border-radius;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 0.5em;

  // Style
  font-size: 0.9em;
  background-color: white;

  .headerbtn {
    justify-content: left;
    padding: 0.1rem 0rem;

    img,
    i {
      font-size: 0.9em;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }

  span {
    display: flex;

    &.headerbtn__icon-container {
      width: 2em;
    }

    &.headerbtn__text-container {
      flex-grow: 1;
    }
  }
}

// HACK: Need this to be extra-selective to over-ride some too-specific PST CSS
div.header-article-main {
  .header-article__left,
  .header-article__right {
    a,
    button,
    label {
      color: $non-content-grey;

      // Over-ride bootstrap defaults for clicking
      &:hover,
      &:focus {
        color: black;
        box-shadow: none;
        text-decoration: none;
      }
    }
  }
}

/**
 * In-page table of contents
 */
.headerbtn-page-toc {
  // Hide the button on wide screens since we display the TOC.
  display: block;
  @media (min-width: $breakpoint-md) {
    display: none;
  }
}
