/*********************************************
* Buttons, mostly for the headers            *
*********************************************/

/**
 * In-page table of contents
 */
#header__page-toc-button {
  // Hide the button on wide screens since we display the TOC.
  display: block;
  @media (min-width: $breakpoint-md) {
    display: none;
  }
}

/**
 * Header sections
 */

// Reset default styling of labels and buttons so we can customize
[type="button"] {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

div.dropdown {
  // Control the dropdown menu display

  // First, overwrite the Bootstrap default so we can make nicer animations
  // These make it "displayed" but hidden
  .dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 50ms ease-out, opacity 150ms ease-out 50ms;
  }

  // On hover, we display the contents via visibility and opacity
  &:hover div.dropdown-menu,
  div.dropdown-menu:hover {
    visibility: visible;
    opacity: 1;
    // Remove the delay when hovering, which makes it appear instantly, but delay in disappear
    transition-delay: 0ms;
  }

  // Other styling on the dropdown menu
  .dropdown-menu {
    // Copied from dropdown menu style above
    border-radius: $box-border-radius;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);

    button {
      display: flex;
      align-items: center;
      padding-left: 0.5rem;
      width: 100%;
      border-radius: 0;

      &:hover {
        background-color: #eee;
      }
    }

    a:hover {
      text-decoration: none;
    }

    span.btn__icon-container {
      display: flex;
      margin-right: 0.5rem;

      img,
      i {
        width: 1.2rem; // Slightly wider to make the font match the images
        font-size: 1rem;
      }
    }
  }
}

// Extra spacing when we have both icons and content
span.btn__icon-container ~ .btn__content-container {
  margin-left: 0.5em;
}

/*
 * Button types classes
 */
// Basic button class
.icon-button {
  padding: 0 0.2em;
  margin-bottom: 0;
  color: var(--theme-header-button-color);

  // Over-ride bootstrap defaults for clicking
  &:hover,
  &:focus {
    color: var(--theme-header-button-color-hover);
    box-shadow: none;
    text-decoration: none;
  }
}

// If no content, make the icon a bit bigger
.icon-button-no-content {
  font-size: 1.3rem;
}

// Outline buttons need extra spacing
button.btn-outline {
  outline: 1px solid $non-content-grey;
  padding: 0.3rem 0.5rem;

  &:hover {
    background-color: #ededed;
  }
}
