/**
 * Example directive styling
 */

// Parent container
.container.bt-example {
  border-top: 1px solid $grey--light;
  border-bottom: 1px solid $grey--light;
  padding: 0.5em 1em;
  margin-bottom: 1.15rem; // From pydata theme block styling
}

.bt-example__title p {
  margin-bottom: 0.5em;
}

.bt-example__source > div {
  margin-top: 0;
}

.bt-example__source,
.bt-example__result {
  > p {
    font-weight: bold;
    margin-bottom: 0.3em;
  }
}
