/**
 * Example directive styling
 */

.container.bt-example {
  border-top: 1px solid $grey--light;
  border-bottom: 1px solid $grey--light;
  padding: 1em;
  margin-bottom: 1.15rem; // From pydata theme block styling
}

.bt-example__title p {
  margin-bottom: 0.5em;
}

.bt-example__source {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1em;
}

.bt-example__source,
.bt-example__result {
  > p {
    font-weight: bold;
  }
}
