/**
 * General structural things
 */
html {
  // The PyData theme value for this is based on `header-height` variable.
  // We set the variable to 0, so here we manually set the scroll position.
  // Use 160px because the scrollspy will shift highlighted sections at 160px.
  // So we want to be just below this.
  // See `data-offset="180"` in the <body>.
  scroll-padding-top: 120px;
}

/**
* Utility classes used in a few places
*/
// For the helper pixel that we can watch to decide whether we've scrolled
.sbt-scroll-pixel-helper {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 0;
  left: 0;
}

// We define our own display-none class since bootstrap uses !important and we want to be able to over-ride
.d-n {
  display: none;
}

// Print-specific utility classes
.onlyprint {
  display: none;

  @media print {
    display: block !important;
  }
}

.noprint {
  @media print {
    display: none !important;
  }
}
