/*********************************************
* Basic text formatting and content structure *
*********************************************/

.content-container {
  // Content links and link color
  a.headerlink {
    opacity: 0;
    margin-left: 0.2em;

    &:hover {
      background-color: transparent;
      color: rgba(var(--pst-color-link), 1);
      opacity: 1 !important;
    }
  }

  a,
  a:visited {
    color: rgba(var(--pst-color-link), 1);
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: black;
    &:hover a.headerlink {
      opacity: 0.5;
    }
    // Make sure titles don't become hyperlink color when there are labels
    a.toc-backref {
      color: inherit;
    }
  }

  // Over-rides the pydata theme's large margins
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1em;
  }

  // Lists
  ul,
  ol {
    p {
      margin-bottom: 0;
    }
  }

  // Misc text and directives
  p.centered {
    text-align: center;
  }

  // Footnotes and Citations
  .footnote-reference,
  a.bibtex.internal {
    font-size: 1em;
  }
}
