/*********************************************
* Left Nav Bar *
*********************************************/
#site-navigation  {
    height: 100vh !important;
    width: $leftbar-width;
    flex: auto;
    top: 0px !important;
    margin-left:0;
    overflow-y: auto;
    background: white;
    transition: margin-left .2s ease 0s, opacity .2s ease 0s, visibility .2s ease 0s;
    z-index: 2000 !important;

    @include scrollbar-style();
    @media (max-width: $breakpoint-md) {
        position: fixed;
        border-right: 1px solid rgba(0,0,0,.1);
    }

    // Sidebar link color
    nav ul.nav {
        li a, ul li a {
            color: $non-content-grey;
        }
        a:hover, li.active > a, li.active > a:hover {
            color: rgba(var(--pst-color-link), 1);;
        }
    }

    h1.site-logo {
        margin: .5em 0 0 0;
        font-size: 1.1em;
        color: black;
        text-align: center;
    }

    div.navbar_extra_footer {
        text-align: center;
        font-size: .9em;
        color: $non-content-grey;
        margin-bottom: 3em;
    }

    // Single page
    &.single-page {
        border-right: 0;
    }
}

div.navbar-brand-box {
    @media (min-width: $breakpoint-md) {
        padding-top: 2em;
    }

    a.navbar-brand {
        width: 100%;
        height: auto;

        img {
            display: block;
            height: auto;
            width: auto;
            max-height:10vh;
            max-width: 100%;
            margin: 0 auto;
            @media (min-width: $breakpoint-md) {
                max-height: 15vh !important;
            }
        }
    }
}

nav.bd-links {
    margin-left: 0px;  // Because the PST adds margin by default
    p.caption, .toctree-l1 a {
        padding-left: 0em;
    }
    // Overriding PyData Theme Defaults so the navigation is always visible
    overflow-y: visible;
    max-height: none;
}

// Navbar and topbar sidebar padding should max at 300px
@media (min-width: $breakpoint-md) {
    .bd-sidebar {
        max-width: 275px;
    }
}

// Toggle the left sidebar
@mixin sidebar-hidden {
    ~ #site-navigation, ~ .bd-content .bd-topbar-whitespace {
        visibility: hidden;
        margin-left: -$leftbar-width;
        opacity: 0;
    }

    ~ #site-navigation {
        display: block;
    }

    // This should only be applied to the topbar-whitespace if we're on wide screen
    @media (min-width: $breakpoint-md) {
        ~ .bd-content .bd-topbar-whitespace {
            display: block;
        }
    }
}

input#__navigation {
    display: none;
    position: absolute;

    // On wide screens, checking will hide everything
    @media (min-width: $breakpoint-md) {
        &:checked {
            @include sidebar-hidden;
        }
    }

    // On narrow screens, *unchecking* will hide everything, so it's hidden by default
    @media (max-width: $breakpoint-md) {
        &:not(:checked) {
            @include sidebar-hidden;
        }
    }
}

// The HTML is technically in the topbar, but we put SCSS rules here since it
// behaves the same way as the sidebar
// TODO: This should be refactored to have a more sensible structure
.bd-topbar-whitespace {
    width: $leftbar-width;
    flex: auto;
    transition: flex 0.2s ease 0s;
    @media (max-width: $breakpoint-md) {
        // Whitespace isn't needed on narrow screens since sidebar is separate
        display: none;
    }

    // Navbar and topbar sidebar padding should max at 300px
    @media (min-width: $breakpoint-md) {
        max-width: 275px;
    }
}

// Label at the top of the page
label.overlay {
    background-color: rgba(0,0,0,.54);
    height: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: width 0ms,height 0ms,opacity .25s ease-out;
    width: 0;
}

// On narrow screens, we use this overlay to close the left sidebar
@media (max-width: $breakpoint-md) {
    input:checked + label.overlay {
        z-index: 1040;  // This puts it above the topbar, below the sidebar
        height: 100%;
        opacity: 1;
        width: 100%;
    }
}
