/*********************************************
* Left Nav Bar *
*********************************************/
#site-navigation  {
    height: 100vh !important;
    width: $leftbar-width;
    flex: auto;
    top: 0px !important;
    margin-left:0;
    overflow-y: auto;
    background: white;
    transition: margin-left .2s ease 0s, opacity .2s ease 0s, visibility .2s ease 0s;
    z-index: 2000 !important;

    &.collapse {
        visibility: hidden;
        margin-left: -$leftbar-width;
        opacity: 0;
        display: block;
        &.show {
            visibility: visible;
            margin-left: 0;
            opacity: 1;
        }
    }
    @media (max-width: $breakpoint-md) {
        position: fixed;
        margin-top: $topbar-height;
        border-right: 1px solid rgba(0,0,0,.1);

        // If we're only a single page, sidebar should hide at narrow widths.
        &.single-page {
            display: none;
        }
    }

    // Sidebar link color
    nav ul.nav {
        li a, ul li a {
            color: $non-content-grey;
        }
        a:hover, li.active > a, li.active > a:hover {
            color: #0071bc;
        }
    }

    scrollbar-width: thin;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: #c1c1c1;
    }

    // Hide the scrollbar until hover on wide screens
    @media (min-width: $breakpoint-lg) {
        &:not(:hover) {
            -ms-overflow-style: none;

            &::-webkit-scrollbar {
              background: #FFFFFF;
            }

            &::-webkit-scrollbar-thumb {
              background: #FFFFFF;
            }
        }
    }

    h1.site-logo {
        margin: .5em 0 0 0;
        font-size: 1.1em;
        color: black;
        text-align: center;
    }

    div.navbar_extra_footer {
        text-align: center;
        font-size: .9em;
        color: $non-content-grey;
        margin-bottom: 3em;
    }

    // Single page
    &.single-page {
        border-right: 0;
    }

    // Captions
    p.caption {
        margin-top: 1.25em;
        margin-bottom: 0;
        font-size: 1.2em;
    }

    // External links
    li > a > i {
        font-size: .8em;
        margin-left: 0.3em;
    }
}

.toc-h1, .toc-h2, .toc-h3, .toc-h4 {
    > a {
        font-size: 0.9em;
    }
    font-size: 1em;
}

div.navbar-brand-box {
    @media (min-width: $breakpoint-md) {
        padding-top: 2em;
    }

    a.navbar-brand {
        width: 100%;
        height: auto;

        img {
            display: block;
            height: auto;
            width: auto;
            max-height:10vh;
            max-width: 100%;
            margin: 0 auto;
            @media (min-width: $breakpoint-md) {
                max-height: 15vh !important;
            }
        }
    }
}

nav.bd-links {
    margin-left: 0px;
    max-height: none !important;

    p.caption {
        font-size: 0.9em;
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
        &.collapsible-parent {
            cursor: pointer;
        }
        &:first-child {
            margin-top: 0;
        }
    }

    ul {
        list-style: none;
    }

    li {
        width: 100%;
    }

    .fa-chevron-up, .fa-chevron-down {
        position: absolute;
        font-size: 0.75em;
        right: 0.5em;
        top: 0;
        padding: 0.5em;
        cursor: pointer;
        &:hover {
            color: #007bff;
        }
    }

    li.toctree-l1, li.toctree-l2, li.toctree-l3, li.toctree-l4, li.toctree-l5  {
        > a {
            font-size: 0.9em;
        }
        font-size: 1em;
        position: relative;
        .fa-chevron-up, .fa-chevron-down {
            right: 0.35em;
        }
    }

    .collapse-ul {
        display: none;
    }

    > ul.nav {
        // Make sure the first items don't have any padding
        padding-left: 0;

        // Subsequent items should have padding
        ul {
            // Only left padding
            padding: 0 0 0 1rem;
        }

        // right horizontal padding to accomodate chevron icons
        a {
            padding: .25rem 2rem 0.25rem 0 !important;
        }
    }
}

// Navbar and topbar sidebar padding should max at 300px
@media (min-width: $breakpoint-md) {
    .bd-sidebar {
        max-width: 275px;
    }
}
