/**************************************************
* Rules that are specific to toggling the sidebar *
**************************************************/
input.sidebar-toggle {
    display: none;
    position: absolute;
}

input#__navigation {
  // On wide screens, checking will hide everything
  @media (min-width: $breakpoint-md) {
      &:checked {
          & ~ #site-navigation {
              visibility: hidden;
              opacity: 0;
              margin-left: -$leftbar-width-wide;
          }

          // When we hide the sidebar on widescreen, add some padding to content
          & ~ .content-container #main-content {
              padding-left: 4rem;
              padding-right: 4rem;
          }
      }
  }

  // On narrow screens, *unchecking* will hide everything, so it's hidden by default
  @media (max-width: $breakpoint-md) {
      &:not(:checked) ~ #site-navigation {
          visibility: hidden;
          opacity: 0;
          margin-left: -$leftbar-width-mobile;
      }
  }
}

input#__page-toc {
    // On narrow screens, it's hidden by default
    @media (max-width: $breakpoint-md) {
        &:not(:checked) ~ .content-container .bd-toc {
            visibility: hidden;
            opacity: 0;
            margin-right: -$leftbar-width-mobile;
        }
    }
  }

// **** Utility functions ****
// Label at the top of the page
label.overlay {
    &.overlay-navbar {
        background-color: rgba(0,0,0,.54);
    }
  height: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: width 0ms,height 0ms,opacity $animation-time ease-out;
  width: 0;
}

// On narrow screens, we use this overlay to close the sidebar
@media (max-width: $breakpoint-md) {
  input:checked + label.overlay {
      &.overlay-navbar {
            z-index: 1040;  // This puts it above the topbar, below the sidebar
      }

      &.overlay-pagetoc {
            z-index: 1010;  // This puts it *below* the topbar so the TOC shows
      }
      height: 100%;
      opacity: 1;
      width: 100%;
  }
}
