/*********************************************
* Top Bar *
*********************************************/
.topbar {
    background-color: white;
    transition: left .2s;
    position: sticky;
    top: 0;
    height: 3em;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right: 0;
    z-index: 999;  // Topbar should always be on top

    .scrolled & {
        box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.3);
    }

    button.topbarbtn {
        margin: 0 .1em;
        background-color: white;
        color: var(--sbt-non-content-grey);
        border: none;
        padding-top: .1rem;
        padding-bottom: .1rem;
        font-size: 1.4em;

        i.fab {
            vertical-align: baseline;
            line-height: 1;
        }
    }

    // buttons float right
    div.dropdown-buttons-trigger, a.edit-button, a.full-screen-button {
        float: right;
    }

    button#navbar-toggler {
        border-radius: .2em;
        transition: background 0.2s ease-out 0s;
        &:hover {
            background: #a3a3a33d;
        }
        &:active {
            background: #6161613d;
        }
        &:focus {
            outline: unset;
        }
    }

    @media (max-width: $breakpoint-md) {
        border-bottom: 1px solid rgba(0,0,0,.1);
    }
}

// Download buttons
span.topbar-button-text {
    margin-left: 0.4em;

    @media (max-width: $breakpoint-md) {
        display: none;
    }
}

div.dropdown-buttons-trigger {

    div.dropdown-buttons {
        display: none;
        position: absolute;
        max-width: 130px;
        margin-top: .2em;
        z-index: 1000;
        transform: translate(-60%);

        &.sourcebuttons .topbarbtn i {
            padding-right: 6px;
            margin-left: -5px;
            font-size: .9em !important;
        }

        button.topbarbtn {
            padding-top: .35rem;
            padding-bottom: .35rem;
            min-width: 120px !important;
            border: 1px white solid !important;
            background-color: var(--sbt-non-content-grey);
            color: white;
            font-size: 1em;
        }
    }

    &:hover div.dropdown-buttons {
        display: block;
    }
}

a.dropdown-buttons i {
    margin-right: .5em;
}

button.topbarbtn img {
    height: 1.15em;
    padding-right: 6px;
    margin-left: -5px;
}
