/*********************************************
* Top Bar *
*********************************************/
.topbar {
    background-color: white;
    transition: left .2s;
    position: sticky;
    top: 0;
    height: 3em;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right: 0;
    z-index: 999;  // Topbar should always be on top

    .scrolled & {
        box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.3);
    }

    > button, > div, > a {
        float: left;
        height: 100%;
    }

    button.topbarbtn {
        margin: 0 .1em;
        background-color: white;
        color: $non-content-grey;
        border: none;
        padding-top: .1rem;
        padding-bottom: .1rem;
        font-size: 1.4em;

        i.fab {
            vertical-align: baseline;
            line-height: 1;
        }
    }

    // buttons float right
    div.dropdown-buttons-trigger, a.edit-button, a.full-screen-button {
        float: right;
    }

    button#navbar-toggler {
        border-radius: .2em;
        transition: background 0.2s ease-out 0s;
        &:active {
            background: #8080803d;
        }
    }
}

.bd-topbar-whitespace {
    width: $leftbar-width;
    flex: auto;
    transition: flex 0.2s ease 0s;
    @media (max-width: 768px) {
        border-bottom: 1px solid transparent;
        &.show, &.collapsing, body.scrolled & {
            border-color: rgba(0, 0, 0, 0.1);
            position: absolute;
            bottom: 0;
            width: 100%;
            display: block;
        }
    }
}

// Download buttons
span.topbar-button-text {
    margin-left: 0.4em;

    @media (max-width: $breakpoint-md) {
        display: none;
    }
}

div.dropdown-buttons-trigger {

    div.dropdown-buttons {
        display: none;
        position: absolute;
        max-width: 130px;
        margin-top: .2em;
        z-index: 1000;
        transform: translate(-60%);

        &.sourcebuttons .topbarbtn i {
            padding-right: 6px;
            margin-left: -5px;
            font-size: .9em !important;
        }

        button.topbarbtn {
            padding-top: .35rem;
            padding-bottom: .35rem;
            min-width: 120px !important;
            border: 1px white solid !important;
            background-color: $non-content-grey;
            color: white;
            font-size: 1em;
        }
    }

    &:hover div.dropdown-buttons {
        display: block;
    }
}

a.dropdown-buttons i {
    margin-right: .5em;
}

button.topbarbtn img {
    height: 1.15em;
    padding-right: 6px;
    margin-left: -5px;
}

// Navbar and topbar sidebar padding should max at 300px
@media (min-width: $breakpoint-md) {
    .bd-topbar-whitespace {
        max-width: 275px;
    }
}
