/*********************************************
* Utility classes that aren't section-specific
*********************************************/
// For the helper pixel that we can watch to decide whether we'vez
.sbt-scroll-pixel-helper {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 0;
  left: 0;
}
