/*********************************************
* Variables *
*********************************************/
// Breakpoints from Bootstrap: https://getbootstrap.com/docs/4.1/layout/overview/#responsive-breakpoints
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;

// Colors
$non-content-grey: #5a5a5a;

$topbar-height: 3em;
$leftbar-width: 275px;

// Overrides for pydata sphinx theme. Will take effect when the next version is released
:root {
    --color-primary: 0, 123, 255;
    --color-info: 255, 193, 7;
    --color-warning: 253, 126, 20;
    --color-danger: 220, 53, 69;
}
