/*********************************************
* Variables *
*********************************************/
// Breakpoints from Bootstrap: https://getbootstrap.com/docs/4.1/layout/overview/#responsive-breakpoints
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;

// Colors
$non-content-grey: #5a5a5a;

// Z-index that bootstrap uses so we can re-use elsewhere
$zindex-bootstrap-top: 1094;

$topbar-height: 3em;
$leftbar-width: 275px;

// Overrides for pydata sphinx theme. Will take effect when the next version is released
:root {
    --color-primary: 0, 123, 255;
    --color-info: 255, 193, 7;
    --color-warning: 253, 126, 20;
    --color-danger: 220, 53, 69;
}

// Scrollbar styles to be re-used in a few spots
@mixin scrollbar-style() {
    scrollbar-width: thin;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: #c1c1c1;

        &:hover {
            background: #a0a0a0
        }
    }

    // Hide the scrollbar until hover on wide screens
    @media (min-width: $breakpoint-lg) {
        &:not(:hover) {
            -ms-overflow-style: none;

            &::-webkit-scrollbar {
              background: #FFFFFF;
            }

            &::-webkit-scrollbar-thumb {
              background: #FFFFFF;
            }
        }
    }
}
