/* comment indicates equivalent pygments category */
.cm-s-default {
    font-family: var(--jp-code-font-family);
    font-size: var(--jp-code-font-size);
    line-height: var(--jp-code-line-height);
}

.CodeMirror-focused {
    background-color: var(--jp-cell-editor-active-background);
    border: var(--jp-border-width) solid var(--jp-cell-editor-active-border-color);
    margin: -1px;
}

.thebelab-cell .thebelab-input {
    padding-left: 10px;
}

.thebelab-cell {
    margin-right: .5em;
}

.cell_input .docutils .container {
    padding-right: 0px;
}
