# This will run every time a tag is created and pushed to the repository.
# It calls our tests workflow via a `workflow_call`, and if tests pass
# then it triggers our upload to PyPI for a new release.
name: Build Package
on:
  push:
    branches: [master]
    tags:
      - 'v*'
  pull_request:
  workflow_call:

jobs:
  tests:
    uses: ./.github/workflows/tests.yml
  publish:
    name: publish
    needs: [tests] # require tests to pass before deploy runs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v3
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Build package
        run: |
          python -m pip install -U pip build
          python -m build
      - name: Archive production artifacts
        uses: actions/upload-artifact@v3
        with:
          name: dist
          path: |
            dist
