name: continuous-integration

on:
  push:
    branches: [master]
    tags:
      - 'v*'
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v3
      with:
        python-version: 3.9
    - uses: pre-commit/action@v2.0.3

  tests:
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [3.7, 3.8, 3.9]
        sphinx: [">=3,<4", ">=4,<5"]
        include:
        - os: windows-latest
          python-version: 3.9
          sphinx: ">=3,<4"
        - os: macos-latest
          python-version: 3.9
          sphinx: ">=4,<5"
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
        cache: "pip"
        cache-dependency-path: "pyproject.toml"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -e .[test]

    - name: Run pytest
      run: >
        pytest --durations=10 --cov=sphinx_book_theme --cov-report=xml --cov-report=term-missing

    - name: Upload to Codecov
      if: matrix.os == 'ubuntu-latest' && matrix.python-version == 3.7 && github.repository == 'executablebooks/sphinx-book-theme'
      uses: codecov/codecov-action@v3.1.0
      with:
        name: ebp-sbt-pytests-py3.7
        flags: pytests
        file: ./coverage.xml
        fail_ci_if_error: true

  # Build the docs and fail if an *unexpected* warning occurs.
  docs-audit:
    runs-on: ubuntu-latest
    name: Build and Audit Documentation
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.7'
        cache: "pip"
        cache-dependency-path: "pyproject.toml"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .[doc]
    - name: Build documentation
      run: >
        sphinx-build -b html docs docs/_build/html -w warnings.txt
    - name: Check that there are no unexpected warnings
      shell: python
      run: |
        from pathlib import Path
        text = Path("./warnings.txt").read_text().strip()
        print("\n=== Sphinx Warnings ===\n\n" + text)  # Print just for reference so we can look at the logs
        unexpected = [ii for ii in text.split("\n") if "kitchen-sink" not in ii]
        assert len(unexpected) == 0

    # Ref: https://github.com/lycheeverse/lychee-action
    # Excluded files:
    # - nature.com: DOI redirect works but errors anyway
    # - doi.org: DOI redirect works but errors anyway
    # - yahoo.com: Kitchen sink redirect we don't control
    # - someurl: dummy url
    # - mailto: fails test but works for people
    # - pathto(: because the pydata theme packages invalid HTML w/ this in it
    # - mybinder.org: because Binder sometimes incorrectly doesn't respond
    # - github.com/search: because GitHub search results return a network error
    - name: Check for broken links
      id: lychee
      uses: lycheeverse/lychee-action@v1.3.2
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      with:
        fail: true
        args: >
          './docs/_build/html/**/*.html'
          --exclude 'nature.com'
          --exclude 'doi.org'
          --exclude 'yahoo.com'
          --exclude 'someurl'
          --exclude 'mailto:docutils-develop'
          --exclude 'pathto\('
          --exclude 'mybinder.org'
          --exclude 'github.com/search'

    - name: Audit with Lighthouse
      uses: treosh/lighthouse-ci-action@9.3.0
      with:
        configPath: ".github/workflows/lighthouserc.json"
        temporaryPublicStorage: true
        uploadArtifacts: true
        runs: 5

  publish:
    name: Publish to PyPI
    needs: [pre-commit, tests]
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')

    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v3
      - name: Set up Python 3.7
        uses: actions/setup-python@v3
        with:
          python-version: 3.7

      - name: Build package
        run: |
          python -m pip install -U pip build
          python -m build

      - name: Publish
        uses: pypa/gh-action-pypi-publish@v1.5.0
        with:
          user: __token__
          password: ${{ secrets.PYPI_KEY }}
